PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
NODE_ENV=development

# HuggingFace API (For Resume Parsing)
HUGGINGFACE_API_KEY=hf_your_key_here

# Firebase Admin (For Notifications)
FIREBASE_CREDENTIALS_PATH=./config/firebase-service-account.json

# Encryption
ENCRYPTION_KEY=your_32_byte_hex_key
IV_KEY=your_16_byte_hex_key

# Google OAuth (For Login)
GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret
CLIENT_URL=http://localhost:5173

# Super Admin Config
SUPER_ADMIN_EMAILS=admin@example.com
SUPER_ADMIN_PASSWORD=admin_password

# SMTP Config (For Forgot Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_SECURE=false
